<html>
<title>
  You've Got Mail
</title>
<body>
<p>Hi <%= @author.name %></p>

<p>Your article has been updated. May your readership revel in your witty prose.</p>

<p>Sincerely, The Blogger Staff</p>
</body>
</html>
